.post-wrapper {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    padding: 10px;
    margin-bottom: 2vw;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    
}

.post-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: unset;
    max-width: 55%;
    min-width: 55%;
}

.post-body {
    min-width: 100%;
    max-width: 100%;
}
.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.three-dots {
    position: relative;
    
    cursor: pointer;
    width: fit-content;
}
.photo-post-wrapper {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    padding: 10px;
    margin-bottom: 2vw;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.photo-post-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.photo-post-body {
    padding-top: 3%;
    max-width: 50%;
    position: relative;
    
    padding-bottom: 5%;
}


.photo-three-dots {
    position: relative;
    cursor: pointer;
    width: fit-content;
    left: 2%;
}



.post-photo {
    width: 100%;
    max-height: 80%;
}


