.searchbar {
    margin-left: 2%;
    height: 0vh;
    border: none;
    background-color: #eef3f8;
    position: absolute;
    top: 4%;
    max-width: 20%;
    min-width: 20%;
}

.search-dropdown {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
    position: absolute;
    background: white;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    top: 107%;
    left: 10%;
}

.searched-user {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    padding-right: 11px;
}

.searched-user:hover {
    background-color:rgb(216, 216, 216);
}

.searched-user-name {
    display: flex;
    align-items: center;
    padding-left: 11px;
    min-width: 100%;
}