.index-wrapper {
    display: flex;
    height: 80vh;
    padding-top: 15vh;
}


.user-prof-pic{
    height: 5rem;
}
.profile-pic-wrapper {
    height: 44px;
    width: 44px;
    margin-right: 8px;

}

.prof-pic {
    height: 2.5rem;
    border-radius: 50%;
}

.create-post-button:hover {
    background-color: rgb(216, 216, 216);
}

.create-post-button {
    color: grey;
    font-weight: 50;
    width: 450px;
    margin: 0.4rem 0;
    font-size: 1rem;
    max-width: none;
    justify-content: left;
    border: 1px solid;
    border-radius: 35px!important;
    padding-left: 1.6rem!important;
    height: 40px;
    display: -webkit-inline-box;
    background-color: white;
}

.create-button-wrapper {
   background-color: white;
    margin: 0 0 0.8rem;
    border-radius: 8px;
    color: var(--color-text-low-emphasis);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.posts-wrapper {
    background-color: white;
    padding: 10px;
}

