h2.connex {
    position: absolute;
    top: 3px;
    left: 50px;
}

h2.make {
    color: black;
}

button {
    border-color: gray;
    border-radius: 15px;
    height: 30px;
    padding-left: 49px;
    padding-right: 49px;
}

div.agree {
    width: 170px;
}