.app-info-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    width: 300px;
    max-height: fit-content;
    padding: 13px;
    margin-left: 40px;
    margin-right: 20px;
    
}



.app-info-container.show-all {
    max-height: none;
}

.app-info-title {
    display: flex;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
}


.app-info {
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.35;
    margin-bottom: 10px;
}


.languages-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 19px;
    margin-left: 40px;
}

.languages-row {
    font-size: 13.5px;
    color: rgb(149, 149, 149);
    margin-bottom: 9px;
}

.language {
    margin-left: 8px;
    margin-right: 8px;
}

.year-container {
    margin-top: 7px;
    font-size: 14px;
}


