.nav-wrapper {
  position: absolute;
  width: 98.5vw;
  flex-direction: row;
  display: flex;
  height: 10vh;
  background-color: white;
  justify-content: space-between;
}

.nav-profile-pic {
  width: 3rem;
  border-radius: 50%;
  position: relative;
}

.prof {
  left: 5%;
  border-radius: 50%;
  border: none;
  background-color: white;
}

.profile-dropdown {
  height: 10vh;
}

.sign-in {
  border-style: solid;
  background-color: white;
  color: #0a66c2;
  border-color: #0a66c2;
  height: min-content;
  min-height: 44px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}


.join {
  background-color: white;
  color: black;
  border: 0px;
  height: min-content;
  min-height: 44px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 1vh;

}
button.join:hover {
  background-color: rgb(241, 241, 241);
}
button.sign-in:hover, .logout-button:hover {
  background-color: aliceblue;
}



.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 4vw;
}

svg {

    height: 2em;
    width: 3em;
  }

  li {
    list-style: none;
    
  }

  .profile-menu-container {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    padding: 10px;
    margin-bottom: 2vw;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-right: 20px;

  }

  .logout-button {
    border-style: solid;
    background-color: white;
    color: #0a66c2;
    border-color: #0a66c2;
    height: min-content;
    min-height: 4px;
    border-radius: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  
  }

  .drop-title {
    padding-top: 2%;
    font-size: 13px;
    color: rgb(149, 149, 149);
  }