button.prof {
    width: fit-content;
    padding: 5px;
    padding-top: 7px;
    margin: 5px;
    height: 45px;
    border-radius: 15px;

}

div.nav {
    position: absolute;
    width: max-content;
    left: 150px;
    flex-direction: column;
    background-color: aliceblue;
    
}

svg {

    height: 2em;
    width: 3em;
  }

  li {
    list-style: none;
    
  }